<html>
    <head>
        <title>About Us Page</title>
    </head>
    <body>
        <div>
            <p>Caregiver is a leading provider of information, support and guidance for family and professional caregivers.
                Founded in 1995, we produce Today's Caregiver magazine, the first national magazine dedicated to caregivers,
                Caregiving books, Custom publications, the Fearless Caregiver Conferences, and our website, caregiver.com. </p>
            <p>Caregiver and all of our services are developed for caregivers, about caregivers and by caregivers.</p>
            <p><b><u>Today’s Caregiver magazine</u></b><br>
                The first national magazine dedicated to family and professional caregivers. Content topics include nutrition,
                pharmaceutical, financial, home safety, new technology options, insurance, homecare, medication breakthroughs 
                and incontinence management. Each issue also features a cover interview with a well-known celebrity caregiver.</p>
            <p><b><u>Caregiver.com</u></b><br>
                Since 1995, providing an online home for caregivers including tips sections, discussion lists, breaking news,
                topic specificchannels, expert answers and email newsletters.</p>
            <p><b><u>Fearless Caregiver Conferences</u></b><br>
                The events provide attendees with hands-on support and training designed to help family caregivers overcome 
                their caregiving challenges..  Debbie Reynolds, Clay Aiken, Robert Urich, Leeza Gibbons and Della Reese are some
                 of the celebrities who have joined the Fearless Caregiver Conferences.</p>
        </div>
        <div style="margin: auto; width: 100%; height: 280px; text-align: center; background-color: plum;">
            <p style="font-size: 1.4rem;">
                <br><u>Contact Us:</u><br><br>
                <b>Call us at</b> 1234567890<br>
                <b>Email us at</b> abc@xyz.com<br>
                You can also enroll in our forums and connect with us there.
            </p>
        </div>
    </body>
</html>