<html>
    <head>
        <title>Caregivers</title>
    </head>
    <body>
        <app-navbar></app-navbar><!--static content-->
        <router-outlet></router-outlet><!--dynamic content-->
    </body>
</html> 
<!-- testing individual components
<div id="main-container">
    <app-navbar></app-navbar>
    <app-home></app-home>
    <app-login></app-login>
    <app-register></app-register>
    <app-caregiver></app-caregiver>
    <assign-caregiver></assign-caregiver>
    <app-about-us></app-about-us>
    <app-admin-dashboard></app-admin-dashboard>
    <app-page-not-found></app-page-not-found>
</div> -->