h1{
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: aquamarine;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 300px;
}
button{
    margin: 10px;
    padding: 7px;
    width: 25%;
}