button{
    margin: 10px;
    padding: 10px;
}
table{
    padding: 10px;
    background-color: LightCyan;
    text-align: center;
    margin: 10px;
}
#filterF{
    border: 2px solid aqua; 
    margin-top: 20px;
    padding: 5px;
    width: 33%;
}
#filterL{
    border: 2px solid pink; 
    margin-top: 20px;
    padding: 5px;
    width: 33%;
}
#filterU{
    border: 2px solid aquamarine; 
    margin-top: 20px;
    padding: 5px;
    width: 33%;
}
.container{
    padding: 5px;
    margin: auto;
    text-align: center;
}
h4{
    color: red;
    text-align: center;
}