<html>
    <head>
        <title>Caregivers</title>
    </head>
    <body>
        <div class="container">
            <!--for searching caregiver by first name, last name, id-->
            <input type="text" class="filterAll" id="filterAll" name="filterAll" placeholder="enter to search" [(ngModel)]="searchText"><br>
            <!--if table is empty it'll show content in else block-->
            <table class="table table-striped" *ngIf="cglist.length;else elseBlock">
                <thead>
                    <tr>
                        <th scope="col">Sno</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Number</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of cglist | filter:searchText;let i=index"> <!--searching via pipe;also demonstration of pipe-->
                    <!-- <tr *ngFor="let f of filteredList;let i=index"> -->
                        <td>{{i+1}}</td>
                        <td>{{f.fastname}}</td>
                        <td>{{f.lastname}}</td>
                        <td>{{f.number}}</td>
                        <td><button class="btn btn-dark" (click)="assignC()">Assign</button></td>
                    </tr>
                </tbody>
            </table>
            <!--else block-->
            <ng-template #elseBlock><h4>no caregiver available</h4></ng-template>
        </div>
        <!--button-->
        <br><button class="btn btn-info" style="margin-left: 650px; width: 15%;" (click)="back()">Back</button>
    </body>
</html>