button{
    margin: 10px;
    padding: 10px;
}
table{
    padding: 10px;
    background-color: LightCyan;
    text-align: center;
    margin: 10px;
}
#filterAll{
    border: 2px solid aquamarine; 
    margin-top: 20px;
    padding: 5px;
    width: 90%;
    text-align: center;
}
.container{
    padding: 5px;
    margin: auto;
    text-align: center;
}
h4{
    color: red;
    text-align: center;
}