<html>
    <head>
        <title>Registeration Form</title>
    </head>
    <body>
        <h1>Registeration Form</h1><!--heading-->
        <div class="container">
            <form #regForm="ngForm" (ngSubmit)="onSubmit(regForm)"><!--registeration form is template form-->
                <!--data input for first name-->
                <label for="firstname"> Enter First Name: </label>
                    <input type="text" #firstname="ngModel" name="firstname" required ngModel id="firstname" minlength="3" 
                        [(ngModel)]="user.firstname" placeholder="enter first name"><br>
                <!--for error-->
                <div *ngIf="!firstname?.valid && (firstname?.dirty || firstname?.touched)" class="error">
                    <div *ngIf="firstname.errors?.['required']">
                        First Name is required
                    </div>
                    <div *ngIf="firstname.errors?.['minlength']">
                        First Name minimum number of chars required is 3
                    </div>
                </div><br>
                <!--data input for last name-->
                <label for="lastname"> Enter Last Name: </label>
                    <input type="text" #lastname="ngModel" name="lastname" required ngModel id="lastname" minlength="3" 
                        [(ngModel)]="user.lastname" placeholder="enter last name"><br>
                <!--for error-->
                <div *ngIf="!lastname?.valid && (lastname?.dirty || lastname?.touched)" class="error">
                    <div *ngIf="lastname.errors?.['required']">
                        Last Name is required
                    </div>
                    <div *ngIf="lastname.errors?.['minlength']">
                        Last Name minimum number of chars required is 3
                    </div>
                </div><br>
                <!--data input for user name-->
                <label for="id"> Enter Username: </label>
                    <input type="email" name="usrnm" id="id" #id="ngModel" ngModel required minlength="5" 
                        [(ngModel)]="user.username" placeholder="enter email"><br>
                <!--for error-->
                <div *ngIf="!id?.valid && (id?.dirty || id?.touched)" class="error">
                    <div *ngIf="id.errors?.['required']">
                        Username is required
                    </div>
                    <div *ngIf="id.errors?.['minlength']">
                        Username minimum number of chars required is 5
                    </div>
                </div><br>
                <!--data input for password-->
                <label for="pass"> Enter Password: </label>
                    <input type="password" name="pass" id="pass" #pass="ngModel" ngModel required minlength="5" 
                        [(ngModel)]="user.password" placeholder="enter password"><br>
                <!--for error-->
                <div *ngIf="!pass?.valid && (pass?.dirty || pass?.touched)" class="error">
                    <div *ngIf="pass.errors?.['required']">
                        Password is required
                    </div>
                    <div *ngIf="pass.errors?.['minlength']">
                        Password minimum number of chars required is 5
                    </div>
                </div><br>
                <!--data input for address-->
                <label for="id"> Enter Address: </label><br>
                    <textarea id="addr" name="addr" #addr="ngModel" ngModel [(ngModel)]="user.address" 
                        rows="4" cols="40" placeholder="enter full address"></textarea><br>
                <!--buttons-->
                <button type="button" class="btn btn-success" [disabled]="!regForm.valid" 
                    (click)="onSubmit(regForm)" style="width: 25%;">Submit</button><br>
                <button type="button" class="btn btn-primary" (click)="reset(regForm)">Clear</button>
                <button class="btn btn-dark" type="submit" (click)="back()">Back</button>
            </form>
        </div>
    </body>
</html>